@import url(variable.css);

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

#header {
  
}

h1 {
  font-size: var(--h1);
}

.themebtn,
.themebtn:link,
.themebtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 10rem;
  transition: all 0.2s;
}

.themebtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem #000000;
}

.dark {
  --primary: var(--dark-gray);
  --secondary: var(--light-gray);
}

.light {
  --primary: var(--light-gray);
  --seconday: var(--dark-gray);
}

:root {
  --dark-gray: #222222;
  --light-gray: #dbdbdb;

  /*Typography*/
  --h1: 4.209rem;
  --h2: 3.157rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
  --h6: 1rem;
}
