@import url(variable.css);

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

#header {
}

h1 {
  font-size: var(--h1);
}

#theme {
}

:root {
  --light-blue: #2998ff;

  /*Typography*/
  --h1: 4.209rem;
  --h2: 3.157rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
  --h6: 1rem;
}
