@import url(variable.css);

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

#header {
}

h1 {
  font-size: var(--h1);
}

#themebtn,
#themebtn:link,
#themebtn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin: 0.5rem auto;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s;
}
#themebtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 0.5rem #000000;
}

.filters {
  display: flex;
  justify-content: center;
  align-content: center;
}
.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin: 0.5rem auto;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s;
}

#box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.card {
  border-radius: 15px;
  text-align: center;
  font-size: var(--h2);
  height: 25rem;
  width: 30rem;
  margin: 10px 50px;
  padding: 25px 15px;
  background-color: #f6f2ec;
  box-shadow: 0 5px 0.5rem #000000;
  border-style: solid;
  border-width: 5px;
  align-items: center;
}
